@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  a {
    color: #006699;
  }
  
  a:hover {
    color: #004466;
  }
  
  button {
    font-family: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  