@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rentalsContainer {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Rubik';
  }
  
  .rentalsTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .propertyList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .noProperties {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
  }
  